@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');
.active{
    display:block;
}
.inactive{
    display:none
}
body{
    background:goldenrod;
}
#container{
    background:rgb(255,255,255);
    width:30%;
    height:55%;
    top:50%;
    left:56%;
    transform: translate(-105%,-80%) scale(1.25);
    box-shadow:0 0 20px rgba(red, green, blue, alpha);
}
#container, #container_2{
    background:rgba(255,255,255,0.1);
    box-shadow:0 8px 0 rgba(0,0,0,0.37);
    backdrop-filter:blur(4px);
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.18);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#container_2{
    width:37.5%;
    left:32.5%;
    top:80%;
}
#flag{
    width:170px;
    border:1px solid rgba(255,255,255,0.9);
    position:relative;
    top:30px;
}
#searchButton{
    position:absolute;
    top:9.7%;
    right:10%;
    height:30px;
    border-radius:4px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    background:blue;
    color:whie;
    cursor:pointer;
}
#countryName{
    position:absolute;
    font-weight:bold;
    top:55%;
}
#countryInput{
    position:absolute;
    top:10%;
    border:transparent;
    outline:none;
    border-radius:2px;
    transition:0.3s;
    width:50%;
    background:rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    backdrop-filter:blur(4px);
    caret-color:white;
    color:white;
    height:25px;
    cursor:pointer;
}
#countryInput::placeholder{
    color:white;
}
.bold{
    font-family:'Poppins', sans-serif;
    font-weight:bold;

}
#info li{
    font-family:sans-serif;
    color:white;

}
#info{
    position:relative;
    top:50px;
}
#countryName{
    color:rgb(62, 16, 228);
    font-family:'poppins',sans-serif;

}
ul{
    list-style-type:none;
}
#info li{
    font-size:16px;
}
#container.inactive{
    height:20%;
    top:40%;
}
#container.active{
    height:55%;
    top:55%;
}
#container_2.inactive{
    display:none;

}
#container.active{
    top:75%;
}
#container_2 ul li{
    font-size:20px;
}